{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="mt-3 w3-light-grey text-dark p-2"> Субподрядчики </h1>

<div class="row mb-3 px-2">
  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-success float-right" title='Рейтинг'>4</span> </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>

  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-warning float-right" title='Рейтинг'>3</span> </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>

  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-danger float-right" title='Рейтинг'>2</span> </h5>
        <p class="card-text">With supportingadditional content. </p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>
</div>

<h1 class="mt-3 w3-light-grey text-dark p-2"> Поставщики </h1>

<div class="row mb-3 px-2">
  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-success float-right" title='Рейтинг'>4</span> </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>

  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-warning float-right" title='Рейтинг'>3</span> </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>

  <div class="col-sm-6 mt-3 px-2">
	<div class="media border p-3 h-100">
	  <img class="mr-3 my-2" src="{% static 'img/pertner_img_default.png' %}" alt="Card image cap" style="max-width: 60px; max-height: 60px;">
	  <div class="media-body">
		<h5 class="card-title">Special title treatment <span class="badge badge-pill badge-danger float-right" title='Рейтинг'>2</span> </h5>
        <p class="card-text">With supportingadditional content. </p>
        <a href="#" class="btn btn-primary btn-sm">Подробней</a>
	  </div>
	</div>
  </div>
</div>


{% endblock %}