{% extends 'base.html' %}

{% block content %}
	<div class="w3-content w3-text-dark-grey pt-2 ">
		<h1 class="w3-xlarge w3-center p-2">Добро пожаловать на Wiki отдела ОПСИ</h1>
		<p class="my-2">Здесь вы найдете массу документов, инструкций и другой полезной информации по основных и вспомогательных процессах Отдела Поддержки Системных Интеграторов, ф так же материалы по применяемым технологиям в отделе.</p>
		<p class="my-2">Информация на данном ресурсе разбита на 6 категорий</p>
		<p class="my-2">две общие категории:</p>
		<ul class="my-2">
			<li><a href="http://wiki.kharkov.owen/index.php/%D0%9F%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81_%22%D0%98%D0%B7%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%22._%D0%9D%D0%98%D0%A0_%D0%B8_%D0%9E%D0%9A%D0%A0">Процесс "Системная интеграция"</a> - здесь вы найдете подробное описание процесса Ситсемной интеграции и каждого из его этапов </li>
			<li><a href="http://wiki.kharkov.owen/index.php/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B">Информационные ресурсы</a> - в данном разделе собраны все полезные информационные ресурсы нашей компании</li>
		</ul>
		<p class="my-2">и четыре категории, c материалами для соответствующих специалистов отдела:</p>
		<ul class="my-2">
			<li><a href="{% url 'pages:project_manager_pages_list' %}">Управление проектами</a> - материалы для Руководителей проектов </li>
			<li><a href="{% url 'pages:circuit_engineer_pages_list' %}">Схемотехника</a> - материалы для Инженеров-системотехников </li>
			<li><a href="{% url 'pages:constructor_pages_list' %}">Конструирование</a> - материалы для Инженеров-конструкторов </li>
			<li><a href="{% url 'pages:programmer_pages_list' %}">Программирование</a> - материалы для Инженеров-программистов </li>
		</ul>

		<hr>
		<p>Вопросы и предложения по сайту отрправляйте на почту: <i class="w3-text-blue">a.golovaschenko@owen.ua</i></p>
	</div>
{% endblock %}