{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<div class="w3-row w3-section" style="width: 100%; height: 160px">
		<div class="w3-quarter w3-center">
			<img class="hover-image" src="{% static 'img/icon_project_managment.png' %}">
			<p class="w3-text-blue-grey">Управление проектами</p>
		</div>

		<div class="w3-quarter w3-center">
			<img class="hover-image" src="{% static 'img/icon_electrical_scheme_1.png' %}">
			<p class="w3-text-blue-grey">Схемотехника</p>
		</div>

		<div class="w3-quarter w3-center">
			<img class="hover-image" src="{% static 'img/icon_3d_modeling.png' %}">
			<p class="w3-text-blue-grey">Конструирование</p>
		</div>

		<div class="w3-quarter w3-center">
			<img class="hover-image" src="{% static 'img/icon_programming.png' %}">
			<p class="w3-text-blue-grey">Программирование</p>
		</div>

	</div>

{% endblock %}