{% extends 'base.html' %}
{% load static %}
{% load processmap_filters %}


{% block content_max_width %} 1500px; {% endblock %}
{% block alert_max_width %} 1500px; {% endblock %}

{% block content %}
<div class="my-3">
	<h1 class="w3-light-grey text-dark p-2">Процесс "Системная интеграция"</h1>

	<div class="w3-border">
		<div class="map" style="display: block; background-image: url(&quot;{% static 'processmap/img/process.jpg' %}&quot;); background-size: contain; position: relative; padding: 0px; width: 1455px; height: 492px;">
			<canvas style="width: 1455px; height: 492px; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px;" height="492px" width="1455px"></canvas>
			<img class="map maphilighted" src="{% static 'processmap/img/process.jpg' %}" width="1455px" height="492px" usemap="#process-map" style="opacity: 1e-10; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px;">
		</div>
	</div>
	<map name="process-map">
		{{ 'Скрининг'				|get_map_area:"19,83,220,107"	 }}
		{{ 'Сбор информации'		|get_map_area:"17,137,143,163"	 }}
		{{ 'Анализ'					|get_map_area:"149,137,215,162"	 }}
		{{ 'Исследование рынка'		|get_map_area:"19,6,873,55"		 }}
		{{ 'Разработка концепции'	|get_map_area:"250,83,495,108"	 }}
		{{ 'Выбор концепции'		|get_map_area:"249,138,374,162"	 }}
		{{ 'Планирование'			|get_map_area:"380,137,493,162"	 }}
		{{ 'Разработка прототипа'	|get_map_area:"521,82,756,107"	 }}
		{{ 'ТЗ'						|get_map_area:"520,137,558,162"	 }}
		{{ 'КД'						|get_map_area:"541,170,581,194"	 }}
		{{ 'ПО'						|get_map_area:"561,201,610,227"	 }}
		{{ 'Документация'			|get_map_area:"594,233,661,258"	 }}
		{{ 'Сборка прототипа'		|get_map_area:"585,262,711,288"	 }}
		{{ 'Подготовка производства'|get_map_area:"598,295,785,321"	 }}
		{{ 'Альфа-тестирование'		|get_map_area:"715,329,807,365"	 }}
		{{ 'Бета-тестирование'		|get_map_area:"787,373,879,410"	 }}
		{{ 'Создание продукта'		|get_map_area:"890,8,1083,55"	 }}
		{{ 'Разработка продукта'	|get_map_area:"891,82,1058,108"	 }}
		{{ 'Уточнение ТЗ'			|get_map_area:"892,134,984,159"	 }}
		{{ 'Доработка КД'			|get_map_area:"930,167,1022,193" }}
		{{ 'Обеспечение производства'|get_map_area:"994,201,1085,238"}}
		{{ 'Вывод на рынок и продажи'|get_map_area:"1114,8,1259,57"	 }}
		{{ 'Итерационная доработка'	|get_map_area:"1114,71,1259,108" }}
		{{ 'Поддержка'				|get_map_area:"1114,122,1260,146"}}
		{{ 'Вывод с рынка'			|get_map_area:"1287,6,1434,57"	 }}
	</map>


	{% include 'pages/pages_list_content.html' %}

</div>
{% endblock %}



{% block scripts %}
{{ block.super }}

<!-- Add maphilight plugin -->
<script type="text/javascript" src="{% static 'processmap/js/jquery.maphilight.min.js' %}"></script>

<!-- Activate maphilight plugin -->
<script type="text/javascript">$(function() {
        $('.map').maphilight();
    });
</script>
{% endblock %}