{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="w3-content w3-text-dark-grey">
		<h1 class="w3-section w3-padding w3-xlarge w3-border-bottom w3-light-grey w3-center text-dark">{{ page.name }}</h1>
		<div class="rich-text-area">
			<p>{{ page.short_description | safe }}</p>
		</div>

		{% for section in page.section_set.all %}
			<h2 class="w3-margin-top w3-xlarge w3-border-bottom">{{ section.headline }}</h1>
			<div class="rich-text-area">
				<p >{{ section.content | safe }}</p>
			</div>
		{% endfor %}


		{% if page.link_set.all %}
			<h2 class="w3-margin-top w3-xlarge w3-border-bottom">Ссылки</h1>
			<ul style="padding-left: 18px; ">
				{% for link in page.link_set.all %}
					<li><a href="{{ link.link }}" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">{{link.name}}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		

		{% if page.reference_set.all %}
			<h2 class="w3-margin-top w3-xlarge w3-border-bottom">Литература</h1>
			
			<ol style="padding-left: 20px;">
				{% for ref in page.reference_set.all %}
				<li>
					<a href="{{ ref.link }}" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">{{ref.name}}.</a>
					<span>{{ ref.author }}.</span>
					<span>{{ ref.pub_date }}.</span>
				</li>
				{% endfor %}
			</ol>
		{% endif %}

		<div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-outline-info" href="{% url 'pages:update_page' page.id %}">Редактировать</a>
		</div>


	</div>
{% endblock %}