{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="pt-2">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ page_form|crispy }}
				{{ page_form.media }}
				<hr class="w3-bottombar border-dark">
				
				{{section_forms.management_form|crispy}}
				{% for form in section_forms.forms %}
					{{ form|crispy }}
					<hr class="w3-bottombar border-dark">
				{% endfor %}

			<div class="form-groupe d-flex justify-content-center">
				<button class="btn btn-outline-success m-2" type="submit">Применить</button>
				<a class="btn btn-outline-danger m-2" href="{% url 'home' %}">Отмена</a>
			</div>
		</form>					
	</div>
{% endblock %}