{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	<div class="pt-2">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ page_form|crispy }}
				{{ page_form.media }}
			
				{{ section_forms.management_form|crispy }}
				<div id="form_set">
				    {% for form in section_forms.forms %}
				    	<hr class="w3-bottombar border-dark">
					    <div>
					        {{ form|crispy }}
					    </div>
				    {% endfor %}
				</div>

				<input type="button" class="btn btn-outline-primary" value="Добавить раздел" id="add_more">
				<hr class="w3-bottombar border-dark">

				{{ file_forms.management_form }}
				{% for form in file_forms.forms %}
					{% include 'pages/file_upload_form.html' with form=form %}
					<hr>
				{% endfor %}

			<div class="form-groupe d-flex justify-content-center">
				<button class="btn btn-outline-success m-2" type="submit">Применить</button>
				<a class="btn btn-outline-danger m-2" href="{% if page_id %} {% url 'pages:detail' page_id %} {% else %} {% url 'home' %} {% endif %}">Отмена</a>
			</div>
		</form>					
	</div>

	<div id="empty_form" style="display:none">
		<div id="id_form-__prefix__">
			<hr class="w3-bottombar border-dark">
	        {{ section_forms.empty_form|crispy }}
        </div>
	</div>
{% endblock %}


{% block scripts %}
	{{ block.super }}

	<script>
	    $('#add_more').click( function() {
	        cloneMore('#empty_form' ,'#form_set', 'section_set');
	    });
	</script>

	<script>
		function cloneMore(empty_form, block_to_append, form_prefix) {
	    	var newElement = $(empty_form).clone(true);
		    var total = $('#id_' + form_prefix + '-TOTAL_FORMS').val();

		    $(block_to_append).append(newElement.html().replace(/__prefix__/g, total));

	        $('#id_form-' + total).find('textarea').each(function() {
		      CKEDITOR.replace( $(this).attr('id'), {
		      	customConfig: "{% static '/ckeditor/js/config.js' %}"
		      	});
		    });

		    total++;
		    $('#id_' + form_prefix + '-TOTAL_FORMS').val(total);
	    }
	</script>

{% endblock %}