{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="p-3">
		<div class="row">
		<div class="col-md-4 px-2">
			<div class="card hover-card w3-hover-border-blue p-3 pt-3 h-100 w3-pale-green" style="min-height: 210px;">
				<a href="http://wiki.kharkov.owen/index.php/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B" style="text-decoration: none" class="d-flex justify-content-center">
					<div class="d-flex flex-column">
						<img class="align-self-center" style="width: 130px; height: 130px;" src="{% static 'img/web.png' %}">
						<b><p class="text-secondary text-center p-2 mb-0 hover-card-header">Информационные ресурсы</p></b>
					</div>
				</a>
				<hr class="m-0">
				<div class="py-3 text-dark">
					<p class="mb-2">В данном разделе собраны все информационные ресурсы компании ОВЕН.</p>
					<p class="mb-2">Здесь вы найдете ссылки на SVN, Redmine, Ссылки на страницы компании в различных социальных сеьях и многое другое.</p>
				</div>
				<div class="d-flex h-100">
					<a href="http://wiki.kharkov.owen/index.php/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B"  class="btn btn-primary btn-sm align-self-end ml-auto">Подробней</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 px-2">
			<div class="card hover-card w3-hover-border-blue p-3 pt-3 h-100 w3-pale-blue" style="min-height: 210px;">
				<a href="{% url 'fileslibrary:regulatory_documents' %}" style="text-decoration: none" class="d-flex justify-content-center">
					<div class="d-flex flex-column">
						<img class="align-self-center" style="width: 130px; height: 130px;" src="{% static 'img/standard.png' %}">
						<b><p class="text-secondary text-center p-2 mb-0 hover-card-header">Нормативная документация</p></b>
					</div>
				</a>
				<hr class="m-0">
				<div class="py-3 text-dark">
					<p class="mb-2">В данном разделе собраны нормативные документы, которыми должен руководствовоться каждый инженер.</p>
					<p class="mb-2">Здесь вы найдете Государственные стандарты (ГОСТы), Международные стандарты (ISO), Отраслевые стандарты и многое другое.</p>
				</div>
				<div class="d-flex h-100">
					<a href="{% url 'fileslibrary:regulatory_documents' %}"  class="btn btn-primary btn-sm align-self-end ml-auto">Подробней</a>
				</div>	
			</div>
		</div>

		<div class="col-md-4 px-2">
			<div class="card hover-card w3-hover-border-blue p-3 pt-3 h-100 w3-pale-yellow" style="min-height: 210px;">
				<a href="{% url 'fileslibrary:articles' %}" style="text-decoration: none" class="d-flex justify-content-center">
					<div class="d-flex flex-column">
						<img class="align-self-center" style="width: 130px; height: 130px;" src="{% static 'img/books.png' %}">
						<b><p class="text-secondary text-center p-2 mb-0 hover-card-header">Литература</p></b>
					</div>
				</a>
				<hr class="m-0">
				<div class="py-3 text-dark">
					<p class="mb-2">В данном разделе собраны книги, статьи, журналы и другая полезная профессиональная литература.</p>
				</div>
				<div class="d-flex h-100">
					<a href="{% url 'fileslibrary:articles' %}"  class="btn btn-primary btn-sm align-self-end ml-auto">Подробней</a>
				</div>			
			</div>
		</div>
		</div>
	</div>

{% endblock %}