{% extends 'base.html' %}

{% block content %}
<div class="my-3">
	<h2 class="w3-large w3-light-grey p-1 px-2">Topic name</h2>
	<ul style="padding-left: 0px; list-style-type: none;" class="w3-ul">
		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>

		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>

		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>

		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>

		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>

		<li class="p-0 px-2">
			<i class="far fa-file-alt pr-2"></i>
			<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">gost_24_104_85</a>
		</li>
	</ul>
</div>
{% endblock %}