{% extends 'base.html' %}
{% load fileslibrary_extras %}


{% block content %}

	{% for section in contents %}
	<div class="my-3">
		<h2 class="w3-large w3-light-grey p-1 px-2">{{section.topic}}</h2>
		<ul style="padding-left: 0px; list-style-type: none;" class="w3-ul">
			{% for file in section.files %}
				<li class="p-0 px-2">
					{{ file | file_icon }}
					<a href="#" style="text-decoration: none" class="w3-text-indigo w3-hover-text-blue">{{file.file_name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% empty %}
		<p class="pt-4">
			<span class="text-dark py-2">В данном разделе пока еще нет документов.</span>
			{% if perms.pages.change_page %}
			<a class="btn btn-outline-primary ml-4" href="#">Добавить документ</a>
			{% endif %}	
		</p>
		<hr>
	{% endfor %}


{% endblock %}